.about-container {
    a {
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;



        color: #773210;
    }

    p {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;

        color: #FFFFFF;
    }

    button {
        background: #FFFFFF;
        border-radius: 5px;
        padding: 10px;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        color: #773210;

    }
}